body {
    background-color: #171717;
}

.title{
    font-family: Poppins;
    text-align: center;
    color: #EDEDED;
    margin-top: 15rem;
    font-size: 70px;
}

.desc{
    text-align: center;
    color: #EDEDED;
    font-family: Poppins;
    margin-top: -4rem;
    margin-bottom: 1rem;

}

.invite{
    background-color: #171717;
    border: 2px solid #EDEDED;
    color: #EDEDED;
    padding: 0.7em 1.7em;
    font-family: Poppins;
    text-align: center;
    transition: 200ms;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    width: 80px;



}

.invite:hover{
    border: 2px solid #171717;
    background-color: #EDEDED;
    color: #171717;


}

.uptime{
    position: absolute;
    color: #EDEDED;
    font-family: Poppins;
    text-decoration: none;
    transition: 300ms;
    bottom: 0px; 
    margin: 0 auto;

}

.uptime:hover{
    font-size: 25px;
    text-decoration: underline;

}